.footer {
  background-color: $footerBgColor;
}

.footer__section {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}

.footer__section {
  @include container-margin;

  @media (min-width: 360px) {
    width: 290px;
  }

  @media (min-width: 480px) {
    width: 410px;
  }

  @media (min-width: 576px) {
    width: 506px;
  }

  @media (min-width: 640px) {
    width: 570px;
  }

  @media (min-width: 768px) {
    width: 684px;
  }
}

.footer__section-title {
  padding-top: 38px;
  display: block;
  text-align: center;
  @include font-family;
  @include font-bold;
  font-size: 14px;
  line-height: 22px;
  color: $footerTitleColor;
  text-transform: uppercase;


  @media (min-width: 360px) {
    padding-top: 43px;
  }

  @media (min-width: 480px) {
    padding-top: 48px;
  }

  @media (min-width: 576px) {
    padding-top: 50px;
  }

  @media (min-width: 640px) {
    padding-top: 53px;
  }

  @media (min-width: 768px) {
    padding-top: 56px;
  }

  @media (min-width: 800px) {
    padding-top: 58px;
  }

  @media (min-width: 992px) {
    padding-top: 60px;
  }

  @media (min-width: 1024px) {
    padding-top: 63px;
  }

  @media (min-width: 1200px) {
    padding-top: 66px;
  }

}

.footer__section-context {
  margin-top: 8px;
  display: block;
  text-align: center;
  @include font-family;
  @include font-normal;
  font-size: 12px;
  line-height: 20px;
  color: $footerTextColor;


  @media (min-width: 360px) {
    margin-top: 15px;
    @include font-family;
    @include font-normal;
    font-size: 14px;
    line-height: 20px;
  }

  @media (min-width: 480px) {
    margin-top: 22px;
    @include font-family;
    @include font-normal;
    font-size: 16px;
    line-height: 28px;
  }
}

.footer__section-icons {
  display: flex;
  justify-content: center;
  margin-top: 26px;
  @media (min-width: 480px) {
    margin-top: 37px;
  }

}

.footer__section-icons-img {
  &:not(:first-child) {
    margin-left: 6px;
  }
}

.footer__section-contacts-list {
  padding-left: 0;
  display: block;
  text-align: center;
  list-style-type: none;
  margin-top: 25px;
  margin-bottom: 0;
  padding-bottom: 47px;
  @media (min-width: 480px) {
    margin-top: 34px;
    padding-bottom: 56px;
  }
  @media (min-width: 768px) {
    display: flex;
    justify-content: center;
  }

  @media (min-width: 1200px) {
    padding-bottom: 70px;
  }

}

.footer__section-contacts-list-item{
  @media (min-width: 768px) {
    &:not(:first-child) {
      margin-left: 15px;
    }
  }
}

.footer__section-contacts-list-item-link {
  text-decoration: none;
  @include font-family;
  @include font-normal;
  font-size: 14px;
  line-height: 24px;
  color: $footerTextColor;
}

