.header__navigation {
  display: flex;
  justify-content: end;
  @media (min-width: 4868px) {
    justify-content: center;
  }
}

.header__navigation-list {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 182px;
  top: 60px;
  background-color: $menuColor;
  @include modify-list;

  @media (min-width: 768px) {
    width: 100%;
    margin: 0;
    padding-top: 41px;
    padding-bottom: 43px;
    padding-left: 0;
    display: flex !important;
    justify-content: center;
    position: relative;
    background-color: $menuColorWhite;
    top: 0;
  }

}


.header__navigation-list-item {
  padding-left: 13px;
  @media (max-width: 768px) {
    padding-top: 8px;
    &:active {
      background-color: $menuActiveColor;
    }
  }
}


.header__navigation-list-item-link {
  @include font-family;
  font-family: $font;
  @include font-normal;
  font-size: 11px;
  line-height: 22px;
  color: $baseColor;

  &:hover {
    color: $hoverColor;
  }

}

.header__navigation-list-item:not(:first-child) {

  @media (min-width: 768px) {
    margin-left: 34px;
  }
}

.header__navigation-list-item-link {
  text-decoration: none;
}


.header__navigation-btn {
  background: #000000;
  width: 44px;
  height: 37px;
  padding: 0;
  border: none;
  margin-top: 23px;
  margin-bottom: 23px;


  @media (min-width: 768px) {
    display: none !important;
  }
}

.header__img-container {
  display: flex;
  justify-content: center;
}

.header__img {
  width: 320px;
  height: 150px;


  @media (min-width: 360px) {
    width: 340px;
    height: 170px;
  }

  @media (min-width: 480px) {
    width: 460px;
    height: 190px;
  }

  @media (min-width: 576px) {
    width: 556px;
    height: 210px;
  }

  @media (min-width: 640px) {
    width: 620px;
    height: 230px;
  }

  @media (min-width: 768px) {
    width: 748px;
    height: 361px;
  }

  @media (min-width: 800px) {
    width: 780px;
    height: 381px;
  }

  @media (min-width: 992px) {
    width: 972px;
    height: 401px;
  }

  @media (min-width: 1024px) {
    width: 1024px;
    height: 421px;
  }

  @media (min-width: 1200px) {
    width: 1180px;
    height: 550px;
  }

}



