@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Light.woff2");
  font-weight: 300;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Medium.woff2");
  font-weight: 500;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Bold.woff2");
  font-weight: 700;
}

.main-container{
  width: 320px;
  display: flex;
  justify-content: center;
  @include container-margin;

  @media (min-width: 360px) {
    width: 340px;
  }

  @media (min-width: 480px) {
    width: 460px;
  }

  @media (min-width: 576px) {
    width: 556px;
  }

  @media (min-width: 640px) {
    width: 620px;
  }

  @media (min-width: 768px) {
    width: 748px;
  }

  @media (min-width: 800px) {
    width: 780px;
  }

  @media (min-width: 992px) {
    width: 972px;
  }

  @media (min-width: 1024px) {
    width: 1024px;
  }

  @media (min-width: 1200px) {
    width: 1180px;
  }

}

.hide-element{
  display: none;
}

.show-element{
  display: block;
}

.main{
  width: 320px;
  display: flex;
  justify-content: start;
  margin-top: 38px;
  @include container-margin;

  @media (min-width: 360px) {
    margin-top: 43px;
    width: 340px;
  }

  @media (min-width: 480px) {
    margin-top: 48px;
    width: 460px;
  }

  @media (min-width: 576px) {
    margin-top: 50px;
    width: 556px;
  }

  @media (min-width: 640px) {
    margin-top: 53px;
    width: 620px;
  }

  @media (min-width: 768px) {
    margin-top: 56px;
    width: 748px;
  }

  @media (min-width: 800px) {
    margin-top: 58px;
    width: 780px;
  }

  @media (min-width: 992px) {
    margin-top: 60px;
    width: 972px;
  }

  @media (min-width: 1024px) {
    margin-top: 63px;
    width: 1024px;
  }

  @media (min-width: 1200px) {
    margin-top: 66px;
    width: 1180px;
  }
}

