
@mixin font-family{
   font-family: Roboto, sans-serif;
}

@mixin font-normal{
   font-style: normal;
   font-weight: normal;
}

@mixin font-bold{
   font-style: normal;
   font-weight: bold;
}

@mixin modify-list {
   list-style: none;
   text-transform: uppercase;
}

@mixin container-margin{
   margin-left: auto;
   margin-right: auto;
}