
.resent-points__section-title {
  display: block;
  margin: 0;
  padding: 0;
  @include font-family;
  @include font-bold;
  font-size: 14px;
  line-height: 22px;
  color: $baseColor;
  text-transform: uppercase;
}

.resent-points__figure-wrapper {
  @media (min-width: 1200px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.resent-points__figure-wrapper-item {
  margin-left: 0;
  margin-top: 23px;
  margin-bottom: 39.5px;

  &:nth-child(4) {
    display: none;
    @media (min-width: 576px) {
      display: block;
    }
  }
}


.resent-points__figure-wrapper-item-link {
  text-decoration: none;

  @media (min-width: 480px) {
    display: flex;
    justify-content: start;
  }

}

.resent-points__figure-wrapper-item-title {
  margin-top: 11px;

  @media (min-width: 480px) {
    margin-left: 20px;
    margin-top: 0;
  }
}

.title-container-main-title {
  display: block;
  @include font-family;
  @include font-bold;
  font-size: 14px;
  line-height: 30px;
  color: $baseColor;
}

.title-container-sub-title {
  display: block;
  @include font-family;
  @include font-normal;
  font-size: 11px;
  line-height: 20px;
  color: $subTitleColor;
}

.title-container-context {
  display: none;
  @include font-family;
  @include font-normal;
  font-size: 14px;
  line-height: 26px;
  color: $contextColor;

  @media (min-width: 576px) {
    width: 404px;
    display: block;
  }
}