$font: Roboto, sans-serif;
$hoverColor: #57A4A4;
$baseColor: #4E4E4E;

$menuColor: #F5F5F5;;
$menuColorWhite: #ffffff;
$menuActiveColor: #E5E5E5;

$contextColor: #5C5C5C;
$subTitleColor: #7C7C7C;

$footerBgColor: #000000;
$footerTitleColor: #FEFEFE;
$footerTextColor: #B9B9B9;
